<div class="home-container">
    <img class="home-image" src="https://res.cloudinary.com/dxkva5huh/image/upload/v1642961556/Rick%20and%20Morty/Rick-y-Morty_fnmubp.png" alt="Foto Rick and Morty">
    <img class="home-logo" src="https://res.cloudinary.com/dxkva5huh/image/upload/v1642961555/Rick%20and%20Morty/Rick_and_Morty_logo_ox5cd3.png" alt="Logo Rick and Morty">
    <button onclick="location.href='/characters'" class="characters-btn" >Characters</button>
    <button onclick="location.href='/about'" class="about-btn">About</button>
</div>