<div class="div-loading" *ngIf="!characterList.length">
  <img class="div-loading__gif" src="https://res.cloudinary.com/dxkva5huh/image/upload/v1642958243/Rick%20and%20Morty/portal_uwmeyp.gif" alt="Loading"/>
</div>
<div id="characters">
  <ng-container *ngIf="characterList.length">
    <h1 class="card-title">CHARACTERS</h1>
    <div class="character-card">
      <ul class="card-list">
        <li class="card-list__item" *ngFor="let character of characterList" routerLink="{{character.id}}" >
          <h3 class="card-list__item--title">{{ character.id }} - {{ character.name }}</h3>
          <img class="card-list__item--img" src="{{ character.image }}" alt="{{ character.name }}"/>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
